<div class="modal modal-blur fade" id="modal-device" tabindex="-1" style="display: none;" aria-modal="true" role="dialog" data-controller="device-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <%= form_for device, html: {class: 'modal-content'} do |f| %>
            <!-- TODO: Actually add the actualy form content which makes sense with this -->
            <div class="modal-header">
                <h5 class="modal-title">Update Device: <%= device.name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div class="col">
                        <%= f.label :name, class: 'form-label required' %>
                        <%= f.text_field :name, class: 'form-control required' %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                <%= f.submit 'Update Device', class: 'btn btn-primary', data: { action: 'click->device-modal#updateDevice' } %>
            </div>
        <% end %>
    </div>
</div>