<%= render "/layouts/page_header", page_title_pre: 'Overview', page_title: 'Data readings' %>

<%= render "/layouts/page_body" do %>
	<div class="row row-deck row-cards">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Add Readings</h3>
				</div>

				<div class="table-responsive">
					<table class="table card-table table-vcenter text-nowrap datatable">
						<thead>
							<tr>
								<th>Name</th>
								<th>Value</th>
								<th>Date and Time</th>
							</tr>
						</thead>
						<tbody>
							<% @measurements.each do |measurement| %>
								<tr>
									<td><%= measurement.name %></td>
									<td><%= measurement.value %></td>
									<td><%= measurement.recorded_at %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="card-footer d-flex align-items-center">
					<p class="m-0 text-muted">
						Showing <span><%= @start %></span> to <span><%= @end %></span> of <span><%= @count %></span> entries
					</p>
					<ul class="pagination m-0 ms-auto">
						<li class="page-item">
							<a href="#" class="page-link" tabindex="-1" aria-disabled="true">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
								prev
							</a>
						</li>
						<li class="page-item">
							<a href="#" class="page-link" tabindex="-1" aria-disabled="true">1</a>
						</li>
						<li class="page-item">
							<a href="#" class="page-link" tabindex="-1" aria-disabled="true">2</a>
						</li>
						<li class="page-item">
							<a href="#" class="page-link" tabindex="-1" aria-disabled="true">3</a>
						</li>
						<li class="page-item">
							<a href="#" class="page-link" tabindex="-1" aria-disabled="true">4</a>
						</li>
						<li class="page-item">
							<a href="#" class="page-link" tabindex="-1" aria-disabled="true">5</a>
						</li>
						<li class="page-item">
							<a href="#" class="page-link" tabindex="-1" aria-disabled="true">
								next
								<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<% end %>