<%= render "/layouts/page_header", page_title_pre: 'Overview', page_title: 'Data readings' %>

<%= render "/layouts/page_body" do %>
	<div class="row row-deck row-cards">
		<div class="col-sm-6 col-lg-3">
			<div class="card">
				<div class="card-body">
				<div class="d-flex align-items-center">
					<div class="subheader">POWER CONSUMPTION</div>
				</div>
				<div class="d-flex align-items-baseline">
					<div class="h1 mb-0 me-2">$4,300</div>
					<div class="me-auto">
					<span class="text-green d-inline-flex align-items-center lh-1">
						8% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
						<svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 17l6 -6l4 4l8 -8"></path><path d="M14 7l7 0l0 7"></path></svg>
					</span>
					</div>
				</div>
				</div>
				<div id="chart-revenue-bg" class="chart-sm" style="min-height: 40px;"><div id="apexchartslz0zy3en" class="apexcharts-canvas apexchartslz0zy3en apexcharts-theme-light" style="width: 311px; height: 40px;"><svg id="SvgjsSvg1966" width="311" height="40" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1968" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1967"><clipPath id="gridRectMasklz0zy3en"><rect id="SvgjsRect2004" width="317" height="42" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMasklz0zy3en"></clipPath><clipPath id="nonForecastMasklz0zy3en"></clipPath><clipPath id="gridRectMarkerMasklz0zy3en"><rect id="SvgjsRect2005" width="315" height="44" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine1973" x1="267.60344827586204" y1="0" x2="267.60344827586204" y2="40" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="267.60344827586204" y="0" width="1" height="40" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG2024" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2025" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG2012" class="apexcharts-grid"><g id="SvgjsG2013" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine2017" x1="0" y1="8" x2="311" y2="8" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2018" x1="0" y1="16" x2="311" y2="16" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2019" x1="0" y1="24" x2="311" y2="24" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2020" x1="0" y1="32" x2="311" y2="32" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG2014" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine2023" x1="0" y1="40" x2="311" y2="40" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine2022" x1="0" y1="1" x2="0" y2="40" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG2006" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG2007" class="apexcharts-series" seriesName="Profits" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath2010" d="M 0 40 L 0 25.2C 3.7534482758620684 25.2 6.970689655172414 26 10.724137931034482 26C 14.47758620689655 26 17.694827586206895 22.4 21.448275862068964 22.4C 25.20172413793103 22.4 28.418965517241375 28.8 32.172413793103445 28.8C 35.925862068965515 28.8 39.14310344827586 25.6 42.89655172413793 25.6C 46.65 25.6 49.86724137931034 30.4 53.62068965517241 30.4C 57.37413793103448 30.4 60.59137931034482 14 64.34482758620689 14C 68.09827586206896 14 71.31551724137931 27.6 75.06896551724138 27.6C 78.82241379310345 27.6 82.03965517241379 25.2 85.79310344827586 25.2C 89.54655172413793 25.2 92.76379310344826 24.4 96.51724137931033 24.4C 100.2706896551724 24.4 103.48793103448276 15.2 107.24137931034483 15.2C 110.9948275862069 15.2 114.21206896551723 19.6 117.9655172413793 19.6C 121.71896551724137 19.6 124.93620689655171 26 128.68965517241378 26C 132.44310344827585 26 135.6603448275862 23.6 139.41379310344826 23.6C 143.16724137931033 23.6 146.3844827586207 26 150.13793103448276 26C 153.89137931034483 26 157.10862068965517 29.2 160.86206896551724 29.2C 164.6155172413793 29.2 167.83275862068965 2.799999999999997 171.58620689655172 2.799999999999997C 175.33965517241379 2.799999999999997 178.55689655172412 18.8 182.3103448275862 18.8C 186.06379310344826 18.8 189.2810344827586 15.600000000000001 193.03448275862067 15.600000000000001C 196.78793103448274 15.600000000000001 200.0051724137931 29.2 203.75862068965517 29.2C 207.51206896551724 29.2 210.72931034482758 18.4 214.48275862068965 18.4C 218.23620689655172 18.4 221.45344827586206 22.8 225.20689655172413 22.8C 228.9603448275862 22.8 232.17758620689654 32.4 235.9310344827586 32.4C 239.68448275862067 32.4 242.901724137931 21.6 246.65517241379308 21.6C 250.40862068965515 21.6 253.6258620689655 24.4 257.37931034482756 24.4C 261.13275862068963 24.4 264.34999999999997 15.2 268.10344827586204 15.2C 271.8568965517241 15.2 275.07413793103444 19.6 278.8275862068965 19.6C 282.5810344827586 19.6 285.798275862069 26 289.55172413793105 26C 293.3051724137931 26 296.52241379310345 23.6 300.2758620689655 23.6C 304.0293103448276 23.6 307.24655172413793 13.2 311 13.2C 311 13.2 311 13.2 311 40M 311 13.2z" fill="rgba(32,107,196,0.16)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMasklz0zy3en)" pathTo="M 0 40 L 0 25.2C 3.7534482758620684 25.2 6.970689655172414 26 10.724137931034482 26C 14.47758620689655 26 17.694827586206895 22.4 21.448275862068964 22.4C 25.20172413793103 22.4 28.418965517241375 28.8 32.172413793103445 28.8C 35.925862068965515 28.8 39.14310344827586 25.6 42.89655172413793 25.6C 46.65 25.6 49.86724137931034 30.4 53.62068965517241 30.4C 57.37413793103448 30.4 60.59137931034482 14 64.34482758620689 14C 68.09827586206896 14 71.31551724137931 27.6 75.06896551724138 27.6C 78.82241379310345 27.6 82.03965517241379 25.2 85.79310344827586 25.2C 89.54655172413793 25.2 92.76379310344826 24.4 96.51724137931033 24.4C 100.2706896551724 24.4 103.48793103448276 15.2 107.24137931034483 15.2C 110.9948275862069 15.2 114.21206896551723 19.6 117.9655172413793 19.6C 121.71896551724137 19.6 124.93620689655171 26 128.68965517241378 26C 132.44310344827585 26 135.6603448275862 23.6 139.41379310344826 23.6C 143.16724137931033 23.6 146.3844827586207 26 150.13793103448276 26C 153.89137931034483 26 157.10862068965517 29.2 160.86206896551724 29.2C 164.6155172413793 29.2 167.83275862068965 2.799999999999997 171.58620689655172 2.799999999999997C 175.33965517241379 2.799999999999997 178.55689655172412 18.8 182.3103448275862 18.8C 186.06379310344826 18.8 189.2810344827586 15.600000000000001 193.03448275862067 15.600000000000001C 196.78793103448274 15.600000000000001 200.0051724137931 29.2 203.75862068965517 29.2C 207.51206896551724 29.2 210.72931034482758 18.4 214.48275862068965 18.4C 218.23620689655172 18.4 221.45344827586206 22.8 225.20689655172413 22.8C 228.9603448275862 22.8 232.17758620689654 32.4 235.9310344827586 32.4C 239.68448275862067 32.4 242.901724137931 21.6 246.65517241379308 21.6C 250.40862068965515 21.6 253.6258620689655 24.4 257.37931034482756 24.4C 261.13275862068963 24.4 264.34999999999997 15.2 268.10344827586204 15.2C 271.8568965517241 15.2 275.07413793103444 19.6 278.8275862068965 19.6C 282.5810344827586 19.6 285.798275862069 26 289.55172413793105 26C 293.3051724137931 26 296.52241379310345 23.6 300.2758620689655 23.6C 304.0293103448276 23.6 307.24655172413793 13.2 311 13.2C 311 13.2 311 13.2 311 40M 311 13.2z" pathFrom="M -1 40 L -1 40 L 10.724137931034482 40 L 21.448275862068964 40 L 32.172413793103445 40 L 42.89655172413793 40 L 53.62068965517241 40 L 64.34482758620689 40 L 75.06896551724138 40 L 85.79310344827586 40 L 96.51724137931033 40 L 107.24137931034483 40 L 117.9655172413793 40 L 128.68965517241378 40 L 139.41379310344826 40 L 150.13793103448276 40 L 160.86206896551724 40 L 171.58620689655172 40 L 182.3103448275862 40 L 193.03448275862067 40 L 203.75862068965517 40 L 214.48275862068965 40 L 225.20689655172413 40 L 235.9310344827586 40 L 246.65517241379308 40 L 257.37931034482756 40 L 268.10344827586204 40 L 278.8275862068965 40 L 289.55172413793105 40 L 300.2758620689655 40 L 311 40"></path><path id="SvgjsPath2011" d="M 0 25.2C 3.7534482758620684 25.2 6.970689655172414 26 10.724137931034482 26C 14.47758620689655 26 17.694827586206895 22.4 21.448275862068964 22.4C 25.20172413793103 22.4 28.418965517241375 28.8 32.172413793103445 28.8C 35.925862068965515 28.8 39.14310344827586 25.6 42.89655172413793 25.6C 46.65 25.6 49.86724137931034 30.4 53.62068965517241 30.4C 57.37413793103448 30.4 60.59137931034482 14 64.34482758620689 14C 68.09827586206896 14 71.31551724137931 27.6 75.06896551724138 27.6C 78.82241379310345 27.6 82.03965517241379 25.2 85.79310344827586 25.2C 89.54655172413793 25.2 92.76379310344826 24.4 96.51724137931033 24.4C 100.2706896551724 24.4 103.48793103448276 15.2 107.24137931034483 15.2C 110.9948275862069 15.2 114.21206896551723 19.6 117.9655172413793 19.6C 121.71896551724137 19.6 124.93620689655171 26 128.68965517241378 26C 132.44310344827585 26 135.6603448275862 23.6 139.41379310344826 23.6C 143.16724137931033 23.6 146.3844827586207 26 150.13793103448276 26C 153.89137931034483 26 157.10862068965517 29.2 160.86206896551724 29.2C 164.6155172413793 29.2 167.83275862068965 2.799999999999997 171.58620689655172 2.799999999999997C 175.33965517241379 2.799999999999997 178.55689655172412 18.8 182.3103448275862 18.8C 186.06379310344826 18.8 189.2810344827586 15.600000000000001 193.03448275862067 15.600000000000001C 196.78793103448274 15.600000000000001 200.0051724137931 29.2 203.75862068965517 29.2C 207.51206896551724 29.2 210.72931034482758 18.4 214.48275862068965 18.4C 218.23620689655172 18.4 221.45344827586206 22.8 225.20689655172413 22.8C 228.9603448275862 22.8 232.17758620689654 32.4 235.9310344827586 32.4C 239.68448275862067 32.4 242.901724137931 21.6 246.65517241379308 21.6C 250.40862068965515 21.6 253.6258620689655 24.4 257.37931034482756 24.4C 261.13275862068963 24.4 264.34999999999997 15.2 268.10344827586204 15.2C 271.8568965517241 15.2 275.07413793103444 19.6 278.8275862068965 19.6C 282.5810344827586 19.6 285.798275862069 26 289.55172413793105 26C 293.3051724137931 26 296.52241379310345 23.6 300.2758620689655 23.6C 304.0293103448276 23.6 307.24655172413793 13.2 311 13.2" fill="none" fill-opacity="1" stroke="#206bc4" stroke-opacity="1" stroke-linecap="round" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMasklz0zy3en)" pathTo="M 0 25.2C 3.7534482758620684 25.2 6.970689655172414 26 10.724137931034482 26C 14.47758620689655 26 17.694827586206895 22.4 21.448275862068964 22.4C 25.20172413793103 22.4 28.418965517241375 28.8 32.172413793103445 28.8C 35.925862068965515 28.8 39.14310344827586 25.6 42.89655172413793 25.6C 46.65 25.6 49.86724137931034 30.4 53.62068965517241 30.4C 57.37413793103448 30.4 60.59137931034482 14 64.34482758620689 14C 68.09827586206896 14 71.31551724137931 27.6 75.06896551724138 27.6C 78.82241379310345 27.6 82.03965517241379 25.2 85.79310344827586 25.2C 89.54655172413793 25.2 92.76379310344826 24.4 96.51724137931033 24.4C 100.2706896551724 24.4 103.48793103448276 15.2 107.24137931034483 15.2C 110.9948275862069 15.2 114.21206896551723 19.6 117.9655172413793 19.6C 121.71896551724137 19.6 124.93620689655171 26 128.68965517241378 26C 132.44310344827585 26 135.6603448275862 23.6 139.41379310344826 23.6C 143.16724137931033 23.6 146.3844827586207 26 150.13793103448276 26C 153.89137931034483 26 157.10862068965517 29.2 160.86206896551724 29.2C 164.6155172413793 29.2 167.83275862068965 2.799999999999997 171.58620689655172 2.799999999999997C 175.33965517241379 2.799999999999997 178.55689655172412 18.8 182.3103448275862 18.8C 186.06379310344826 18.8 189.2810344827586 15.600000000000001 193.03448275862067 15.600000000000001C 196.78793103448274 15.600000000000001 200.0051724137931 29.2 203.75862068965517 29.2C 207.51206896551724 29.2 210.72931034482758 18.4 214.48275862068965 18.4C 218.23620689655172 18.4 221.45344827586206 22.8 225.20689655172413 22.8C 228.9603448275862 22.8 232.17758620689654 32.4 235.9310344827586 32.4C 239.68448275862067 32.4 242.901724137931 21.6 246.65517241379308 21.6C 250.40862068965515 21.6 253.6258620689655 24.4 257.37931034482756 24.4C 261.13275862068963 24.4 264.34999999999997 15.2 268.10344827586204 15.2C 271.8568965517241 15.2 275.07413793103444 19.6 278.8275862068965 19.6C 282.5810344827586 19.6 285.798275862069 26 289.55172413793105 26C 293.3051724137931 26 296.52241379310345 23.6 300.2758620689655 23.6C 304.0293103448276 23.6 307.24655172413793 13.2 311 13.2" pathFrom="M -1 40 L -1 40 L 10.724137931034482 40 L 21.448275862068964 40 L 32.172413793103445 40 L 42.89655172413793 40 L 53.62068965517241 40 L 64.34482758620689 40 L 75.06896551724138 40 L 85.79310344827586 40 L 96.51724137931033 40 L 107.24137931034483 40 L 117.9655172413793 40 L 128.68965517241378 40 L 139.41379310344826 40 L 150.13793103448276 40 L 160.86206896551724 40 L 171.58620689655172 40 L 182.3103448275862 40 L 193.03448275862067 40 L 203.75862068965517 40 L 214.48275862068965 40 L 225.20689655172413 40 L 235.9310344827586 40 L 246.65517241379308 40 L 257.37931034482756 40 L 268.10344827586204 40 L 278.8275862068965 40 L 289.55172413793105 40 L 300.2758620689655 40 L 311 40" fill-rule="evenodd"></path><g id="SvgjsG2008" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle2039" r="0" cx="268.10344827586204" cy="15.2" class="apexcharts-marker wafke2fyd no-pointer-events" stroke="#ffffff" fill="#206bc4" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG2009" class="apexcharts-datalabels" data:realIndex="0"></g></g><g id="SvgjsG2015" class="apexcharts-grid-borders" style="display: none;"><line id="SvgjsLine2016" x1="0" y1="0" x2="311" y2="0" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine2021" x1="0" y1="40" x2="311" y2="40" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line></g><line id="SvgjsLine2034" x1="0" y1="0" x2="311" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2035" x1="0" y1="0" x2="311" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2036" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2037" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2038" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1972" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG2033" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1969" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 20px;"></div><div class="apexcharts-tooltip apexcharts-theme-dark" style="left: 155.869px; top: 0px;"><div class="apexcharts-tooltip-title" style="font-family: inherit; font-size: 12px;">16 Jul</div><div class="apexcharts-tooltip-series-group apexcharts-active" style="order: 1; display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(32, 107, 196);"></span><div class="apexcharts-tooltip-text" style="font-family: inherit; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Profits: </span><span class="apexcharts-tooltip-text-y-value">62</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-dark"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
			</div>
		</div>
	</div>
	</br>
	<div class="row row-deck row-cards">
		<div class="col-6">
			<div class="card">
				<div class="card-header">
				<h3 class="card-title">Sensors</h3>
				</div>
				<div class="list-group list-group-flush">
					<div class="list-group-item">
						<div class="row align-items-center">
							<div class="col-4">
								#ime senzora
							</div>
							<div class="col-4">
								#vrednost
							</div>
							<div class="col-4">
								#simbol
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card">
				<div class="card-header">
				<h3 class="card-title">Actuators</h3>
				</div>
				<div class="list-group list-group-flush">
					<div class="list-group-item">
						<div class="row align-items-center">
							<div class="col-4">
								#ime aktuatora
							</div>
							<div class="col-4">
								#ON/OFF 
							</div>
							<div class="col-4">
								<label class="form-check form-switch">
								<input class="form-check-input" type="checkbox" checked="">
								<span class="form-check-label">Option 1</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</br>
	<div class="row row-deck row-cards">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Add Readings</h3>
				</div>
				<div class="table-responsive">
					<table class="table card-table table-vcenter text-nowrap datatable">
						<thead>
							<tr>
								<th>Name</th>
								<th>Value</th>
								<th>Date and Time</th>
							</tr>
						</thead>
						<tbody>
							<% @measurements.each do |measurement| %>
								<tr>
									<td><%= measurement.name %></td>
									<td><%= measurement.value %></td>
									<td><%= measurement.recorded_at %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="card-footer d-flex align-items-center">
					<p class="m-0 text-muted">
						Showing <span><%= @start %></span> to <span><%= @end %></span> of <span><%= @count %></span> entries
					</p>
					<%= paginate @measurements %>
				</div>
			</div>
		</div>
	</div>
<% end %>