<%= render "/layouts/page_header", page_title_pre: 'Overview', page_title: 'Data readings' %>

<%= render "/layouts/page_body" do %>
	<div class="row row-deck row-cards">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Add Readings</h3>
				</div>

				<div class="table-responsive">
					<table class="table card-table table-vcenter text-nowrap datatable">
						<thead>
							<tr>
								<th>Name</th>
								<th>Value</th>
								<th>Date and Time</th>
							</tr>
						</thead>
						<tbody>
							<% @measurements.each do |measurement| %>
								<tr>
									<td><%= measurement.name %></td>
									<td><%= measurement.value %></td>
									<td><%= measurement.recorded_at %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<% end %>